.cache
.config/BraveSoftware
.config/*/*Cache*
.config/Code/logs*
**/*cache*
**/*Cache*
.local/lib/python*
.config/Jetbrains
**/*.log
**/*logs*
.config/joplin*
.config/Joplin*
.config/jesseduffield/lazygit
!.config/jesseduffield/lazygit/config.yml
.config/libreoffice
.local/share/Trash
.local/share/cargo
.local/share/go
.m2/repository
**/node_modules
.vscode/extensions
nltk_data
